.facedetect{
    /* display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; */
    
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    justify-content: center;
}

.facedetect img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}