.renderedimage{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    justify-content: center;
}

.renderedimage img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}



/* --------media query-------- */

@media (max-width:785px){
    .renderedimage{
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    }

    .renderedimage img{
        width: 300px;
        height: 300px;
    }
}

@media (max-width:617px){
    .renderedimage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .renderedimage img{
        width: 90%;
        height: 400px;
    }
}